*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display:grid;
    place-content:center;
}
div{
    width: 200px;
    height: 200px;
    background: rgba(175, 175, 175, 0.133);
    display:grid;
    place-content:center;
}
.first{
  display:grid;
}
.andra{
  display:none;
}